---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';

const projects = (await getCollection('projects')).sort(
    (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<BaseLayout title="Projects" description="Projects I've worked on, both CTF-related and otherwise.">
    <h1>Projects</h1>
    <div class="grid">
        {projects.map((project) => (
            <a href = {`/projects/${project.id}/`} class="card project-card">

                <div class="project-left">
                    <h2 class="title">{project.data.title}</h2>
                    <span class="date"><FormattedDate date={project.data.pubDate} /></span>
                </div>
                <p class="description">{project.data.description}</p>
                <div class="stack">
                    {project.data.stack?.map((tag) => (
                        <span class={`tag tag-${tag.toLowerCase()}`}>{tag}</span>
                    ))}
                </div>
            </a>
        ))}
    </div>
</BaseLayout>

<style>

	main {
		max-width: 1100px;
		margin: 0 auto;
		padding: 4em 2em;
	}

	h1 {
		color: var(--accent);
		margin-bottom: 2em;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}

    .project-card {
        display: grid;
        grid-template-columns: 200px 1fr auto;
        align-items: center;
        padding: 0.75rem 1.5rem;
        gap: 1.5rem;
        min-height: 100px;
        max-height: 100px;
    }

    .project-left {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .description {
        font-size: 0.85rem;
        color: var(--text);
        margin: 0;
    }

    .stack {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        font-size: 0.75rem;
        color: var(--accent-secondary);
        align-items: flex-end;
        text-align: right;
        white-space: nowrap;
    }

    .tag-django { color: #44B78B; }
    .tag-javascript { color: #F7DF1E; }
    .tag-css { color: #264DE4; }
    .tag-next\.js { color: #EDEDED; }
    .tag-typescript { color: #3178C6; }
    .tag-tailwind { color: #38BDF8; }
    .tag-llama { color: #9D00FF; }

</style>